# Apriori  
Scenario:  
You are analyzing transaction data to uncover frequent itemsets and generate association rules.

In [3]:
from mlxtend.frequent_patterns import apriori, association_rules
import pandas as pd

# Step 1: Create a dataset of transactions
transactions = pd.DataFrame([
    ['Milk', 'Bread', 'Butter'],
    ['Milk', 'Bread'],
    ['Bread', 'Butter', 'Jam'],
    ['Milk', 'Butter'],
    ['Milk', 'Bread', 'Butter', 'Jam']
], columns=['Item1', 'Item2', 'Item3', 'Item4'])

transactions

   Item1   Item2   Item3 Item4
0   Milk   Bread  Butter  None
1   Milk   Bread    None  None
2  Bread  Butter     Jam  None
3   Milk  Butter    None  None
4   Milk   Bread  Butter   Jam

In [5]:
# Convert dataset to one-hot encoded format
one_hot = pd.get_dummies(transactions.apply(pd.Series).stack()).groupby(level=0).sum()
one_hot

   Bread  Butter  Jam  Milk
0      1       1    0     1
1      1       0    0     1
2      1       1    1     0
3      0       1    0     1
4      1       1    1     1

In [6]:
# Generate frequent itemsets using Apriori
frequent_itemsets = apriori(one_hot, min_support = 0.5, use_colnames = True)
print("Frequent Itemsets:")
print(frequent_itemsets)

Frequent Itemsets:
   support         itemsets
0      0.8          (Bread)
1      0.8         (Butter)
2      0.8           (Milk)
3      0.6  (Butter, Bread)
4      0.6    (Bread, Milk)
5      0.6   (Butter, Milk)

c:\Users\SABIO\Documents\GitHub\Personal-Projects\myenv\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:161: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [8]:
# Generate association rules
rules = association_rules(frequent_itemsets, metric = "confidence", min_threshold = 0.7)
print("\nAssociation Rules:")
rules

Association Rules:

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(Butter),(Bread),0.8,0.8,0.6,0.75,0.9375,1.0,-0.04,0.8,-0.25,0.6,-0.25,0.75
1,(Bread),(Butter),0.8,0.8,0.6,0.75,0.9375,1.0,-0.04,0.8,-0.25,0.6,-0.25,0.75
2,(Bread),(Milk),0.8,0.8,0.6,0.75,0.9375,1.0,-0.04,0.8,-0.25,0.6,-0.25,0.75
3,(Milk),(Bread),0.8,0.8,0.6,0.75,0.9375,1.0,-0.04,0.8,-0.25,0.6,-0.25,0.75
4,(Butter),(Milk),0.8,0.8,0.6,0.75,0.9375,1.0,-0.04,0.8,-0.25,0.6,-0.25,0.75
5,(Milk),(Butter),0.8,0.8,0.6,0.75,0.9375,1.0,-0.04,0.8,-0.25,0.6,-0.25,0.75