In [5]:
import requests 
import json 
import pandas as pd

request = requests.get('https://fakerapi.it/api/v2/addresses?_quantity=10')
df = pd.DataFrame(request.json()['data'])

df

,id,street,streetName,buildingNumber,city,zipcode,country,country_code,latitude,longitude
0,1,52307 Keebler Branch,Leopold Branch,35651,Osinskiside,53236,Costa Rica,CR,62.624763,-14.377346
1,2,474 Lang Forge,Hildegard Parkway,3834,Turnerbury,13704,Croatia,HR,37.843754,-163.729358
2,3,5411 Welch Via,Cory Stravenue,8698,Pricestad,78559,Mozambique,MZ,14.045973,113.895906
3,4,11139 Pagac Point,Rosenbaum Plaza,77612,Lake Gerryborough,64589,Jordan,JO,-84.843443,149.441567
4,5,579 Goyette Streets Suite 119,Kari Bridge,2233,North Asiahaven,63931-4981,Niue,NU,-26.492999,-169.264512
5,6,89399 Schulist Port Apt. 709,Treva Knoll,14435,West Muhammad,48762-8146,Zambia,ZM,48.844736,-145.432715
6,7,70917 Lisandro Dale Suite 977,Lance Forest,47866,Orrinmouth,82678,Croatia,HR,70.070987,177.107501
7,8,9901 Casper Lakes Suite 822,Bashirian Junction,9189,West Maxine,64600,New Zealand,NZ,67.044804,141.054842
8,9,633 Mariela Shoal,Tromp Cove,70387,Eichmannbury,18652-3040,Montserrat,MS,-61.205260,78.528657
9,10,19874 Nigel Crest Apt. 190,Kirlin Lights,508,Port Elmerside,33268-6114,Botswana,BW,-83.687545,164.787643