# Practice Scenario: Logistic Regression  

*You're working as a data analyst for an e-commerce company. Your goal is to help the marketing team identify which website visitors are most likely to make a purchase, based on their behavior and profile.*

---

You will need a dataset with features like: Age, Gender, time-on-site, pages-viewed, traffic-source (google, facebook, direct), location, device-type. With a target: PURCHASED (1 or 0)

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, roc_auc_score, roc_curve, confusion_matrix
from statsmodels.api import OLS, add_constant
import matplotlib.pyplot as plt
import seaborn as sns

### Import data

In [10]:
data = pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn.csv')
display(data.head(3))
display(data.info())

   customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0  7590-VHVEG  Female              0  ...          29.85        29.85     No
1  5575-GNVDE    Male              0  ...          56.95       1889.5     No
2  3668-QPYBK    Male              0  ...          53.85       108.15    Yes

[3 rows x 21 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

None

### Feature Engineering / Cleaning

Features must be either binary or continuous. They can be categorical if they are converted to dummy variables.

In [9]:
data['MultipleLines'].value_counts()

MultipleLines
No                  3390
Yes                 2971
No phone service     682
Name: count, dtype: int64

In [37]:
data["is_male"] = data['gender'].replace({"Female": 0, "Male": 1}) #Convert to binary
data['Partner'] = data['Partner'].map({'Yes':1, 'No':0}) #Convert to 0/1 for partner
data['Dependents'] = data['Dependents'].map({'Yes':1, 'No':0}) #Convert to 0/1 for dependents
data['PhoneService'] = data['PhoneService'].map({'Yes':1, 'No':0})
data['MultipleLines'] = data['MultipleLines'].map({'Yes':1, 'No':0})
data['OnlineSecurity'] = data['OnlineSecurity'].map({'Yes':1, 'No':0})
data['OnlineBackup'] = data['OnlineBackup'].map({'Yes':1, 'No':0})
data['DeviceProtection'] = data['DeviceProtection'].map({'Yes':1, 'No':0})
data['TechSupport'] = data['TechSupport'].map({'Yes':1, 'No':0})
data['StreamingTV'] = data['StreamingTV'].map({'Yes':1, 'No':0})
data['StreamingMovies'] = data['StreamingMovies'].map({'Yes':1, 'No':0})
data['PaperlessBilling'] = data['PaperlessBilling'].map({'Yes':1, 'No':0})
data['Churn'] = data['Churn'].map({'yes':1, 'no':0})

df_cleaned = pd.get_dummies(data, columns=['InternetService', 'Contract', 'PaymentMethod'], drop_first=True)
display(df_cleaned.head(3))
display(df_cleaned.info())

C:\Users\SABIO\AppData\Local\Temp\ipykernel_35932\4951991.py:1: FutureWarning:

Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`

   customerID  ... PaymentMethod_Mailed check
0  7590-VHVEG  ...                      False
1  5575-GNVDE  ...                       True
2  3668-QPYBK  ...                       True

[3 rows x 26 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 26 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   customerID                             7043 non-null   object
 1   gender                                 7043 non-null   object
 2   SeniorCitizen                          7043 non-null   int64
 3   Partner                                0 non-null      float64
 4   Dependents                             0 non-null      float64
 5   tenure                                 7043 non-null   int64
 6   PhoneService                           0 non-null      float64
 7   MultipleLines                          0 non-null      float64
 8   OnlineSecurity                         0 non-null      float64
 9   OnlineBackup                           0 non-null      float64
 10  DeviceProtection                       0 non-null      float64
 11  TechSupport                            0 non-null      float64
 12  StreamingTV                            0 non-null      float64
 13  StreamingMovies                        0 non-null      float64
 14  PaperlessBilling                       0 non-null      float64
 15  MonthlyCharges                         7043 non-null   float64
 16  TotalCharges                           7043 non-null   object
 17  Churn                                  0 non-null      float64
 18  is_male                                7043 non-null   int64
 19  InternetService_Fiber optic            7043 non-null   bool
 20  InternetService_No                     7043 non-null   bool
 21  Contract_One year                      7043 non-null   bool
 22  Contract_Two year                      7043 non-null   bool
 23  PaymentMethod_Credit card (automatic)  7043 non-null   bool
 24  PaymentMethod_Electronic check         7043 non-null   bool
 25  PaymentMethod_Mailed check             7043 non-null   bool
dtypes: bool(7), float64(13), int64(3), object(3)
memory usage: 1.1+ MB

None